
.board {
  display: inline-flex;
  flex-wrap: wrap;
  height: 520px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 468px;
}
.square {
  align-items: center;
  background-color: rgb(253, 253, 252);
  border: 1px solid black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
  display: inline-flex;
  font-size: 90px;
  height: 150px;
  justify-content: center;
  margin: 2px;
  width: 150px;
}

.square:hover {
  background-color: #a0ceef;
}

button {
	background: #3a7999;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	color: #f2f2f2;
	justify-content: center;
  padding: 11px;
  margin: 11px 0px;
  transition: all 500ms ease;
  width: 464px;
}

button:hover {
  background: #f2f2f2;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

#div-replay-btn {
  margin-left: auto;
  margin-right: auto;
}
